/* stylelint(selector-not-notation) */
* {
  font-family: Poppins, sans-serif;
}

body {
  background-color: #e5e5e5;
  font-family: Poppins, sans-serif;
}

.template1 {
  left: 0;
  top: 0;
}

.headline {
  display: flex;
  flex-direction: column;
  background: url("./icons/main-bg.png") white;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  padding: 100px 5%;
  border-radius: 0 0 0 100px;
  position: relative;
}

.intro {
  display: flex;
  font-family: Poppins, sans-serif;
  font-style: normal;
  line-height: 130%;
  font-size: 100px;
  color: #172b4d;
}

.bio,
.aboutme-intro {
  flex: none;
  flex-grow: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #172b4d;
}

.socials {
  display: flex;
  flex-direction: column;
}

.socials-mainlist {
  display: flex;
  padding: 0;
  margin-top: 10px;
}

.socials-list {
  padding: 0;
  padding-right: 20px;
  list-style-type: none;
}

.letsconnect {
  width: 160px;
  height: 24px;
  color: #7f8cff;
  font-size: 20px;
}

.logo {
  color: #6070ff;
}

.works {
  display: grid;
  grid-template-rows: auto auto auto auto;
  gap: 20px;
  margin-top: 40px;
}

.resume {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  border-radius: 15px;
  padding: 0.75em;
  width: 170px;
  height: 50px;
  margin-top: 5px;
  margin-bottom: 30px;
  border: 1px solid #6070ff;
}

#p-tag1,
.contactme-p {
  font-size: clamp(16px, 4vw, 20px);
}

#p-tag {
  font-size: clamp(16px, 4vw, 20px);
  margin: 0;
}

#h-tag,
.contactme-header {
  font-size: clamp(32px, 4vw, 45px);
  font-weight: 700;
}

.tonic {
  margin-bottom: 0;
}

.multi {
  width: 250px;
  height: 80px;
  line-height: 40px;
  margin-bottom: 0;
}

.work-cards {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  gap: 8px;
  padding: 10px;
  position: relative;
  left: 8px;
  margin-bottom: 20px;
  margin-right: 15px;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
}

.canopy {
  font-size: 13px;
  font-weight: 600;
  padding: 0;
}

.canopy-list {
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: 13px;
  padding: 0;
  line-height: 16px;
  margin-top: 10px;
}

.canopy-list > li {
  color: #7a869a;
  font-weight: 600;
  font-size: 13px;
}

#h-tagaboutme {
  font-size: clamp(40px, 4vw, 45px);
  font-weight: 900;
  width: 250px;
  height: 101px;
  line-height: 52px;
}

.aboutme {
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: #fff;
  padding: 100px 5% 120px;
  border-radius: 0 25px 0 0;
  position: relative;
  left: 0;
  top: 90px;
  margin-bottom: 20px;
}

.about-header {
  color: #172b4d;
  width: 200px;
  height: 80px;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: justify;
}

.work-img {
  flex: none;
  flex-grow: 0;
  border-top: 5px;
  background-color: #fff;
  width: 100%;
}

.small-langul {
  color: #6070ff;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-style: normal;
  padding: 4px 0;
  position: relative;
  margin-bottom: 5px;
}

.small-langli {
  color: #6070ff;
  background-color: #ebebff;
  align-items: center;
  font-style: normal;
  padding: 4px 8px;
  margin: 0 5px;
  list-style-type: none;
  border-radius: 8px;
  font-size: 12px;
  border: 0;
}

.seeproject {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-family: Poppins, sans-serif;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #396df2;
  padding: 0.75em;
  width: 130px;
  height: 40px;
  margin-bottom: 16px;
}

.seeproject:hover {
  background-color: #6070ff;
  color: #fff;
}

.seeproject:active {
  background: #2230d2;
}

.aboutme-intro {
  color: #344563;
}

.lang-header {
  padding-bottom: 20px;
}

.tech > li {
  list-style-type: none;
}

.lang-img {
  margin-left: 12px;
  margin-top: 8px;
  margin-right: 12px;
}

.lang-ul,
.tech {
  font-size: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-self: flex-start;
  padding: 0;
  gap: 10px;
  text-align: left;
  margin-bottom: 10px;
}

.lang-ul > li {
  color: #253858;
  list-style-type: none;
  font-style: normal;
  font-size: 17px;
  border: 1px;
  background: #f7f7f9;
  border-radius: 8px;
  width: 90%;
  height: 66.72px;
  position: relative;
}

.lang-ul > li > p {
  position: absolute;
  height: 24px;
  font-weight: 500;
  left: 75px;
  top: calc(45% - 15px / 2 - 0.36px);
}

#framework-btn,
#framework-btn-toggle,
#framework-btn-toggle1 {
  background-color: #fff;
  border: 1px;
  color: #000;
  margin: 0;
  padding-top: 0;
}

#framework-btn-toggle {
  margin-left: 160px;
}

#framework-btn-toggle1 {
  margin-left: 90px;
}

.framework {
  display: flex;
  justify-content: last baseline;
  position: relative;
  color: #344563;
}

hr {
  margin: 0;
}

.contact-me {
  border-radius: 80px 0 0;
  border: 1px;
  background-color: #6070ff;
  top: 10px;
  color: #fff;
  text-align: center;
  padding: 40px 16px 20px;
}

.contact-me::before {
  content: url('./icons/bottom-icon.png');
  position: absolute;
  bottom: 40px;
  right: 20px;
}

.contactme-header {
  color: #fff;
  padding-bottom: 20px;
  font-size: 40px;
}

.contactme-header::before {
  content: url('./icons/dot1.png');
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.contactme-form::before {
  content: url('./icons/top-icon.png');
  position: absolute;
  right: -15px;
  top: 15px;
}

.contactme-p {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
  padding-bottom: 20px;
}

#name {
  height: 48px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 400;
}

#mssg {
  height: 170px;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
  margin-bottom: 20px;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
}

#mssg::placeholder {
  text-align: left;
  position: absolute;
  top: 15px;
  bottom: 15px;
  left: 16px;
  right: 38px;
}

.getintouch {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  background-color: #fff;
  border-radius: 8px;
  padding: 12px 16px;
  width: 142px;
  height: 48px;
  margin-top: 5px;
  margin-bottom: 30px;
  border: 1px solid #7f8cff;
}

.getintouch:active {
  background: #2230d2;
}

.getintouch:hover {
  background-color: #6070ff;
  color: #fff;
}

.dot2 {
  position: absolute;
  right: 70px;
  bottom: 60px;
  width: 30px;
  height: 30px;
}

.rec {
  position: absolute;
  bottom: 55px;
  right: 25px;
}
